div{
     height: 150px;
    width :100px;
    background-color: rgb(219, 145, 145);
    border :2px solid black;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;

    
}